extends layout.pug

block header
  app-main-header([caption]='title')

block content
  section
    app-marketing-message-block

  section
    app-tel-input-form

  section
    app-sample-inspiration-block
