extends layout.pug

block header
  app-main-header(caption='Inspireo')

block content
  section
    app-marketing-message-block

  section
    app-sample-inspiration-block

  section
    app-tel-input-form
