input, button
  padding 10px

input
  border-radius 10px 0 0 10px
  border 1px solid #e0dbdb
  font-size 17px
  min-width 65%
  padding 1em 1em .7em 1em

button
  border 1px solid #17d05e
  border-radius 0 10px 10px 0
  background-color #17D05E
  color #fff
  font-size 25px
  padding .41em
