input, button
  padding 10px

input
  border-radius 10px 0 0 10px
  border 1px solid #e0dbdb
  font-size 17px
  min-width 65%
  padding 1em 1em .7em 1em
  margin-top: 1em

button
  border 1px solid #17d05e
  border-radius 0 10px 10px 0
  background-color #17D05E
  color #fff
  font-size 25px
  padding .41em

button:hover
  cursor: pointer
  background-color #00ff22

.alert
  border 1px solid transparent
  border-radius 10px
  line-height 2rem
  margin .1em 3.4em 0 3.4em

.alert.alert-danger
  color #a94442
  background-color #f2dede
  border-color #ebccd1

.alert.alert-success
  color #3c763d
  background-color #dff0d8
  border-color #d6e9c6
